@{
    ViewData["Title"] = "Cars - Add new car";
}

<h1>Add new car</h1>

@if (ViewBag.ExceptionMsg != null)
{
    <h4 class="danger">@ViewBag.ExceptionMsg</h4>
}

<form asp-action="Create" method="post">
    <label for="brand">Brand:</label>
    <input type="text" name="brand" id="brand" list="brandsList" required value="@ViewBag.Brand" />

    <label for="model">Model:</label>
    <input type="text" name="model" id="model" required value="@ViewBag.Model" />

    <label for="price">Price:</label>
    <input type="number" name="price" id="price" min="0" step="100" required value="@ViewBag.Price" /><span>Kr</span>

    <button type="submit">Create car</button>

    <datalist id="brandsList">
        @foreach (string brand in ViewBag.Brands)
        {
            <option value="@brand">@brand</option>
        }
    </datalist>
</form>